body {
  background-color: #FFFFFF;
  margin: 2rem;
}

h1 {
  font-size: xx-large;
  color: #000;
  border-style: none;
  margin-top: 3rem;
  padding: 2rem 1rem 2rem 0.5rem;
  border-bottom: 2px solid #2f51b4;
  border-color: #000;
  background: #e0e8ff;
}

h2 {
  font-size: x-large;
  color: #000;
  border-style: none;
  margin-top: 3rem;
  border-bottom: 2px solid #2f51b4;
  background: #eaf3ff;
}

h3 {
  font-size: large;
  color: #000;
  border-style: none;
  margin-top: 3rem;
}

h4 {
  font-size: large;
  color: #000;
  border-style: none;
  margin-top: 2rem;
}

p {
  color: #000;
}

a {
  text-decoration:none;
}

li {
  color: #000;
}

pre:not(.hljs) {
  font-family: Courier, monospace;
  color: #DDD;
  background-color: #444450;
  padding: 0.2rem 0.5rem;
  margin: 0 2rem;
  border-radius: 0;
  line-height: 120%;
}

:not(pre):not(.hljs) > code {
  font-family: Courier, monospace;
  color: #DDD;
  background-color: #444450;
  padding: 0.2rem 0.5rem;
}

blockquote {
  color: #000;
  background-color: #EEE;
  border-left: 0.4rem solid #8BD;
  padding-left: 0.8rem;
}

img {
  margin: 0px auto 0px;
  display: block;
}

table {
  margin: 0px auto 0px;
  border-collapse: collapse;
}

table thead tr th {
  font-weight: normal;
  color: #000;
  text-align: center;
  border-bottom: 1px solid #000;
  border-left:   1px solid #CCC;
  padding: 0.1rem 1rem;
}

table tbody tr td {
  color: #000;
  text-align: left;
  border: 1px solid #CCC;
  padding: 0.1rem 1rem;
}

.table-center > table tbody tr td {
  text-align: center;
}

th:first-child {
  text-align: center;
  border-left: 0;
  border-right: 1px solid #000;
}

td:first-child {
  text-align: left;
  border-left: 0;
  border-right: 1px solid #000;
}

td:last-child, th:last-child {
  border-right: 0;
}

